{{!< main}}
<div class="text-center">
<style>
  a {
    color: black; /* Change text color to black */
  }
</style>

<h1>Fitness Tracker</h1>
<form action="/fitness/add" method="POST">
  <input type="text" name="name" placeholder="Exercise Name" required>
  <input type="number" name="duration" placeholder="Duration (minutes)" required>
  <button type="submit">Add Exercise</button>
</form>

<ul>
{{#each exercises}}
  <li>
    {{this.name}} - {{this.duration}} minutes
    <a href="/fitness/edit/{{this._id}}"class="btn btn-primary">Edit</a>
    <form action="/fitness/delete/{{this._id}}" method="POST">
      <button type="submit"class="btn btn-danger">Delete</button>
    </form>
  </li>
{{/each}}


</ul>
</div>
