{{!< main}}
<div class="text-center">
<style>
  .text-center {
    text-align: center;
  }

  a {
    color: black;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .exercise-item {
    background-color: #f5f5dc; /* Cream color */
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px; /* Rounded corners for the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  
  }

  .button-group {
    display: inline-block;
  }

  .button-group a, .button-group form {
    display: inline;
    margin-right: 10px;
  }
</style>

<h1>Fitness Tracker</h1>
<form action="/fitness/add" method="POST">
  <input type="text" name="name" placeholder="Exercise Name" required>
  <input type="number" name="duration" placeholder="Duration (minutes)" required>
  <button type="submit">Add Exercise</button>
</form>

  <ul style="list-style-type: none;">

{{#each exercises}}
  <li class="exercise-item">
    {{this.name}} - {{this.duration}} minutes
    <div class="button-group">
      <a href="/fitness/edit/{{this._id}}" class="btn btn-primary">Edit</a>
      <form action="/fitness/delete/{{this._id}}" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </li>
{{/each}}




</ul>
</div>
