<!-- home.hbs -->
<div class="main-content" > 
    <div class="jumbotron mt-4">
        <h1 class="display-4 text-center">Welcome to Better Productivity!</h1>
        <p class="lead text-center">This is a simple web application to enhance your daily productivity.</p>
        <hr class="my-4 text-center">
        <p class="text-center">Explore features like ToDo Lists, Pomodoro Timers, Diet and Fitness Trackers, Sleep Schedules, and Calendar Planning.</p>
    </div>

      <!-- Image at the bottom -->
    <div class="text-center">
        <img src="/images/water.jpg" alt="Trees Image" class="img-fluid" style="max-height: 400px;">
    </div>
</div>

</div>
{{#if message}}
<div id="success-message" class="success-message">{{message}}</div>
{{/if}}
