{{!-- This is the ToDO View Page --}}


<style>
  .text-center {
    text-align: center;
  }

  a {
    color: black;
  }

  .todo-list {
    padding: 0;
    list-style-type: none;
  }

  .todo-item {
    background-color: #f5f5dc; 
 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 

  }

</style>


<div class="text-center">
  <h1>To Do List</h1>
<form action="/todo/add" method="POST">
  <input type="text" name="content" placeholder="Add new to-do">
  <button type="submit">Add</button>
</form>

<ul class="todo-list">
  {{#each todos}}
  <li class="todo-item">
    {{this.content}}
    <!-- Edit button -->
    <a href="/todo/edit/{{this._id}}" class="btn btn-primary">Edit</a>
    <!-- Delete button -->
    <form action="/todo/delete/{{this._id}}" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </li>
  {{/each}}
</ul>

</div>